.weatherForeCastText {
  text-align: center;
  font-size: 18px;
  color: #008b8b;
  font-weight: 600;
}
.locationImg {
  margin: auto;
  display: block;
}
.message {
  color: #940303;
  text-align: center;
  font-size: 18px;
}
@media only screen and (max-width: 1024px) {
  .locationImg {
    width: 100%;
  }
}
